*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#393E46;
    height: 100%;
}
.container{
    margin: auto;
    text-align: center;
    color:#4ECCA3;
}
#result{
    margin-top: 5rem;
    font-family: 'Lobster', cursive;
    font-size: 6rem;
    text-align: center;
    text-shadow: black;
}

.dice{
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;;
    margin: 3rem;
    display: inline-block;
}
footer{
    text-align: center;
    color:  white;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
}
