body{
    margin: 0px;
}
h1{
    margin: 0px;
}
.top-container{
    background-color: #F1F1F1;
}
.middle-container{
    background-color: red;
    width: 200px;
    height: 200px;
}
.bottom-container{
    background-color: blue;
    width: 200px;
    height: 200px;
}
